body {
    background-color: rgba(10, 0, 28, 0.8);
    color: white;

}

li a {
    text-decoration: none;
    transition: all .2s ease-in-out;
}

li a:hover {
    color: white;
    transform: scale(1.4);
}